name: Test MAAS Anvil

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install dependencies
        run: python3 -m pip install tox
      - name: Run linters
        working-directory: ./anvil-python
        run: tox -e lint,check

  # unit-test:
  #   name: Unit tests
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v4
  #     - name: Install dependencies
  #       run: python -m pip install tox
  #     - name: Run tests
  #       working-directory: ./anvil-python
  #       run: tox -e test
